@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
  box-sizing: border-box;
  color: #fff;
}
html {
  width: 100vw;
  overflow-x: hidden;
  outline: 0;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  outline: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;

  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
/*  GLOBALLY STYLING */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-img {
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*   background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; */
}
/*--------------------*/
header {
  width: 100%;
  padding: 8px 1px;
  margin: 0;
  box-sizing: border-box;
  background-color: #161616f7;
}
header h1 {
  font-size: clamp(24px, 2rem, 36px);
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}
header p {
  font-size: 14px;
  width: max-content;
  margin: 2px auto 10px ;
  font-style: italic;
  font-weight: bold;
  color: #bdbdbd;
}
.example{
  font-size: 1.1rem;
  color: #ff5353;
}
.container {
  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  flex-direction: column;
}

form {
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  padding: 30px 15px;
  margin: 20px auto;

  overflow-wrap: break-word;
  background-color: steelblue;
  flex-direction: column;
  border-radius: 20px;
  backdrop-filter: blur(16px) saturate(92%);
  -webkit-backdrop-filter: blur(16px) saturate(92%);
  background-color: rgb(78 116 148 / 10%);
}

label {
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 0px 5px #111;
  margin-bottom: 10px;
  font-size: clamp(16px, 1rem, 24px);
}

input[type="text"] {
  width: 90%;
  margin: 5px auto;
  padding: 10px;
  color: #fff;
  background-color: #ffffff20;
  font-size: 18px;
  letter-spacing: 1.5px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0s 0.2s ease-in-out;
}
input[type="text"]:hover {
  border-color: #fff;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 2px 4px rgb(1 1 1);
}
.optional-word {
  font-size: 0.9rem;
  text-shadow: none;
  color: #ffffff90;
  font-style: italic;
  font-weight: lighter;
}

.input-image-box {
  border: 1px solid #ddd;
  padding: 10px;
}
button[type="submit"],
button[type="reset"] {
  background-color: #333;
  color: #ccc;
  font-size: 15px;
  margin: 5px;
  padding: 12px 25px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
button[type="submit"]{
  background: forestgreen;  /* fallback for old browsers */
/*   background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */ */
/*   background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
  margin-bottom: 20px;
/*   color: #000; */
  font-weight: 600;
}
button[type="reset"] {
  background-color: #4682b4;
  transition: none;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
}
#choose-file {
  width: 220px;
  font-size: 1rem;
}
.or-para {
  margin: 0.7rem;
  font-size: 1.4rem;
  color: #ffffff90;
}
button[type="submit"]:hover, #download-btn:hover {
  background-color: #111;
  color: #fff;
}
button[type="submit"]:focus,
#download-btn:focus {
  box-shadow: 1px 2px 10px #000;
}
button[type="reset"]:active {
  background-color: red;
  box-shadow: 1px 2px 10px #000;
  color: #fff;
}
button{
  font-size: clamp(16px,1.1rem,20px);
}

#generated-text {
  display: none;
  text-align: center;
  opacity: 1;
  text-wrap: balance;
  transition: opacity 1s ease-in-out;
  font-size: clamp(16px, 2rem, 30px);
  font-weight: 600;
  color: rgba(255, 255, 255, 0.393);
  background-clip: text;
  background-image: url(media/bg-small.jpg);
  background-attachment: fixed;
  object-fit: cover;
  text-shadow: 2px 2px 10px black;
}
.fast-forward {
  width: 35px;
  filter: blur(0.5px);
  object-position: bottom;
  mix-blend-mode: color-burn;
  transform: rotate(90deg);
}

#generated-meme {
  display: none;
  opacity: 0;
  height: auto;
  margin: 5px auto;
  box-sizing: border-box;
}
#canvas {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  max-height: 400px;
  object-fit: contain;
  height: max-content;
  box-shadow: 1px 2px 4px rgba(0, 0, 0);
}

.shareDownload-btn{
  background-color: #1e7db2;
  color: #bdbdbd;
  padding: 2px 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: backgroundColor 1s ease;

  display: none;
  flex-direction: row;
  opacity: 0;
  margin-bottom: 10px;
}
.shareDownload-btn:hover{
  box-shadow: 2px 2px 4px black, -2px -2px 4px black;
}
#sharememe-btn{
  background-color: #ca5619;
}
#sharememe-btn:hover{
  background-color: #df5f1a;
  color: #fff;
}
#download-btn:hover {
  background-color: #208bc5;
  color: #fff;
}
.memebelow-btn{
  column-gap: 5px;
}
#sharememe-btn p,
#download-btn p {
  display: inline;
  color: #ddd;
  font-weight: 500;
  font-size: 0.8rem;
}

.sharefile-img,
.download-img {
  width: 30px;
}

#share-img{
  width: 40px;
  padding: 2px;
  margin-top: 5px;
  background-color: whitesmoke;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: -1px -1px 5px black,1px 1px 5px black;
}
footer {
  width: 100%;
  padding: 1px 2px;
  background-color: black;
  position: absolute;
  bottom: 0px;
}
#foot-para {
  font-size: clamp(16px,0.9rem,20px);
  color: lavender;
}
#foot-link {
  color: steelblue;
  text-decoration: none;
}

/*//////////////////////////////////////// */
/*//////////////////////////////////////// */
/*  MOBILE SMALL SCREEN */
@media screen and (max-width: 320px) {
/*   .bg-img {
    background-image: url(media/bg-small.jpg);
  } */
  form {
    width: 95vw;
  }
  input {
    margin: 2px auto;
  }
  #generated-text{
    font-size: 16px;
  }
  #canvas{
    max-width: 98vw;
  }
}
/*  LARGE MOBILE SCREEN */
@media screen and (min-width: 321px) and (max-width: 768px) {
/*   .bg-img {
    background-image: url(media/bg-small.jpg);
  } */
  form {
    width: 95vw;
  }
  input {
    margin: 2px auto;
  }
  #generated-text{
    font-size: 20px;
  }
  #canvas{
    max-width: 98vw;
  }
}
/*  TABLET SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
/*   .bg-img {
    background-image: url(media/bg-medium.jpg);
  } */
  form {
    width: 70vw;
  }
  #canvas{
    max-width: 80vw;
  }
}
/* DESKTOP AND LARGER SCREEN */
@media screen and (min-width: 1025px) {
/*   .bg-img {
    background-image: url(media/bg-large.jpg);
  } */
  form {
    width: 600px;
  }
  #canvas{
    max-width: 600px;
  }
}
